<div class="progress">
  <div class="item active">
    <div class="num">1</div>
    <div class="label">Sign</div>
    <div class="value">Sign a message with your wallet so we can verify you.</div>
  </div>
  <div class="item">
    <div class="num">2</div>
    <div class="label">Lock</div>
    <div class="value">Lock your <{{ 'project' }}> on Ethereum mainnet.</div>
  </div>
  <div class="item">
    <div class="num">3</div>
    <div class="label">Mint</div>
    <div class="value">Mint an ERC-721 version of your <{{ 'project' }}> on Magma L2.</div>
  </div>
</div>
