@import 'abstracts/variables';
@import 'abstracts/mixins';

:host {
  display: block;

  .image-wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: center;

    width: 100%;
    height: var(--billboard-height);
    background-color: rgba(var(--base-color), 1);

    img,
    app-phunk-image {
      width: 31.5rem;
      height: 31.5rem;
      image-rendering: pixelated;

      object-fit: contain;
      object-position: 50% 100%;
    }
  }

  &.expanded {
    .image-wrapper {
      height: 100vh;

      img,
      app-phunk-image {
        width: 80%;
        height: 80%;
      }
    }

    @media (max-width: $mobile) {
      .image-wrapper {
        height: calc(var(--billboard-height) + 12rem);

        img,
        app-phunk-image {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
