@import 'abstracts/variables';
@import 'abstracts/mixins';

$size: 30rem;

:host {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  width: 100%;
  height: var(--billboard-height);

  background-color: rgba(var(--base-color), 1);
}

.images-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: center;

  width: 100%;
  height: $size;

  overflow: hidden;

  .image-wrapper {
    width: $size;
    min-width: $size;
    height: $size;

    img {
      display: block;
      width: $size;
      height: $size;
      image-rendering: pixelated;
    }
  }
}


.info {
  position: absolute;
  bottom: 0;
  left: 0;

  padding: .5rem .5rem .5rem 2rem;
  background-color: rgba(var(--pink), 1);
  // mix-blend-mode: hard-light;
  // backdrop-filter: blur(1rem);

  font-family: $secondary-font-stack;
  color: rgba(var(--base-color), 1);

  h1 {
    font-size: 3rem;
    font-weight: normal;
    // letter-spacing: -.5rem;
    // line-height: 1;
  }
}
